.width {
  width: 400px;
  height: 300px;
}

.card {
  /* background-image: linear-gradient(to right, #eee5f1, #f6f1e2); */
  background-image: linear-gradient(to bottom right, #f5fffe, #defaf7);
  margin: 10px;
  padding: 5px;
  border: 3px solid darkblue;
}

.deleteButton {
  margin: 0;
  padding: 5px 149px 5px 149px;
}
.updateButton {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 145px 5px 145px;
}

.productDescription {
  height: 100px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 8px;
  overflow-y: scroll;
}
.productDescription::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}
