.width {
  width: 28vw;
  min-width: 400px;
  margin: 1rem;
}
.color {
  color: aqua;
}

.productDescription {
  height: 8rem;
  overflow-y: scroll;
  margin-bottom: 1rem;
}
.productDescription::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}

.actionContainer {
  display: flex;
  justify-content: space-around;
}

